 Python
__pycache__/
*.pyc
*.egg-info/
.Python/
.venv/
venv/
env/

# Django
*.log
local_settings.py
media/
static_root/

# Environment variables
.env
.flaskenv

# Docker
.dockerignore

# IDE specific files
.vscode/
.idea/

# Database
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db